<div class="container-fluid">
  <div class="card rounded-top">
    <div class="card-contents">
      <div class="row">
        <div class="col-sm-12 text-center">
          <i class="material-icons header">accessibility</i>
        </div>
      </div>
      <div class="row">
        <h3 class="text-center">{{user.email}}</h3>
      </div>
      <div class="row toolbar">
        <div class="col-xs-12 text-center">
          <i class="material-icons active" data-id="account">settings_applications</i>
        </div>
        <!--<div class="col-xs-4 text-center">-->
        <!--<i class="material-icons" data-id="order">reorder</i>-->
        <!--</div>-->
        <!--<div class="col-xs-4 text-center">-->
        <!--<i class="material-icons" data-id="payment">credit_card</i>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="card details rounded-bottom">
    <h3 class="hero account">Account Details</h3>
    <h3 class="hero order" style="display:none;">Order History</h3>
    <h3 class="hero payment" style="display:none;">Payment Settings</h3>
    <div class="details-content account">
      <div class="row">
        <div class="col-xs-12">
          <span>Email Address:</span><input style="display:inline;" class="form-control" type="text"
                                            [(ngModel)]="user.email" disabled/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span>Member Since:</span><input style="display:inline;" class="form-control" type="date" value="2016-09-17"
                                           disabled/>
        </div>
      </div>

    </div>
  </div>
</div>
