<div class="searchContainer">
  <div class="input-group">
    <span class="input-group-addon">Filter <span class="hidden-sm-down">Products</span>:</span>
    <label for="searchInput" class="sr-only">Search</label>
    <input #searchBox [(ngModel)]="searchBoxValue" (keyup)="search()" type="text" class="form-control" id="searchInput" aria-describedby="basic-addon3">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="search()"><i class="material-icons">search</i></button>
  </span>
  </div>
</div>
