<div class="searchContainer">
  <div class="input-group">
    <span class="input-group-addon">Search:</span>
    <label for="searchInput" class="sr-only">Search</label>
    <input #searchBox [(ngModel)]="searchBoxValue" (keyup.enter)="enterPressedAddProduct()" (keyup)="search()" type="text" class="form-control" id="searchInput" aria-describedby="basic-addon3">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><i class="material-icons">search</i></button>
  </span>
  </div>
  <div class="resultsContainer">
        <div *ngFor="let product of products | async"
             class="search-result" (click)="addProduct(product);" >
            {{product.Name}}
        </div>
    </div>
</div>
