.title {
  text-decoration: underline;
}
.divider {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
.divider:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;

}

.total-container {
  margin-bottom: 1rem;
}

@media (min-width: 62rem) {
  .total-container {
    width:43rem;
    margin: 0 auto 1rem auto;
  }
}
