<div class="hero text-center">
  <div class="inner cover">
    <h1 class="cover-heading">Welcome to the Bazaar.</h1>
    <p class="lead">The bazaar is the best place to buy you basic doodads. Order small or large volumes now. Try us
      now and see what you have been missing all this time. <br> For a limited time get 10% off orders over $1 (in
      select countries only)</p>
    <p class="lead">
      <a routerLink="/cart" class="btn btn-lg btn-secondary store">Shop Now</a>
    </p>
  </div>
</div>
