
<div class="container-fluid">
  <div class="topbar">
    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <a routerLink="/landing">
          <div class="brand">Muziris</div>
        </a>
      </div>
      <div class="col-sm-10 col-xs-12">
        <nav class="nav nav-masthead">
          <a routerLink="/cart" routerLinkActive="active" class="nav-link">Cart</a>
          <a routerLink="/order" routerLinkActive="active" class="nav-link">Order</a>
          <!--<a routerLink="/order" routerLinkActive="active" class="nav-link">Order<span class="tag tag-primary"></span></a>-->
          <!--<a routerLink="/products" *ngIf="(authorized)" routerLinkActive="active" class="nav-link">Products</a>-->
          <a routerLink="/account" *ngIf="(authorized)" routerLinkActive="active" class="nav-link">Account</a>
          <a class="nav-link" *ngIf="(authorized)" (click)="logout()">Logout</a>
          <a routerLink="/login" *ngIf="!(authorized)" routerLinkActive="active" class="nav-link">Login</a>
          <!--<a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin</a>-->
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!--<button class="btn btn-lg btn-outline-primary" (click)="openModal()">Launch demo modal</button>
<template appModalContainer></template>-->
