html, body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color:#f7f7f7;
}
.title {
  letter-spacing: .25rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.text-center {
  text-align:center;
}

//Boot Strap Overrides..to be refactored later
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#316f6f, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

.btn.btn-primary {
  background-color: lighten(#316f6f, 6.5%);
  background-image: none;
  //background-image: linear-gradient(to bottom,#316f6f 0,$brand-primary 100%);
}

